.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.munkaim-bg-div{
  background-color: rgba(0, 0, 0, 0.5); padding: 2rem; margin: 2rem;
}
.munkaim-block{
  background-position: center; background-size: cover; background-repeat: no-repeat; color:white;
}
.aboutme-block{
  background-color: rgba(0, 0, 0, 0.5);
}
.container{
  border: 1px solid black;
}
.footer-icon{
  filter: grayscale(100%);
}
a:not(.menu-link):visited{
  color : lightblue;
}
a:not(.menu-link){
  text-decoration: underline;
}
.menu-link{
  font-size:1.3em;
  float: left;
}
p{
  text-align: justify;
}
body{
  background-color:   #17252A;
  font-family:Arial, Verdana, Helvetica, sans-serif;  /* betűtípus beállítás */
}
.container{
  color :  #FEFFFF;
  background-color:black;
}
.btn{
  background-color:   #17252A;
  color :  #FEFFFF;
}
a, caption{
  color :  #FEFFFF;
}
.kipozicional a {position:absolute; left:-9999px; background:#162020; color: white;}				/* kipozícionáljuk a képernyőről a blokkot */
.kipozicional a:focus {position:static; background:#162020; color: white;}
.navbar-brand img{
  background-color: white;
  padding: 1rem;
}
h1,h2 {
  font-family: 'Oswald', sans-serif;
}
.custom-radio{
  background-color: black;
  color: white;
}
input[type="radio"]{
  background-color: black;
  color: white;
}